* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #40E0D0
    color #4b5a9b;
   
}   


nav {
    background-color: #d5bdbd;
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;
   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 25px;
    
}
#logo{
   margin-right: auto;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #da94ef;
}


header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #40E0D0;
    gap: 40px;
}

.reclama {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 300px;
    margin-top: 110px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reclama h4 {
    color: #333;
    margin-bottom: 10px;
}

.reclama .poza {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.reclama button {
  
    background-color: #514aaf;
    color: #fff;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.reclama button:hover {
    background-color: #73307f;
}


section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 10px 10px 100px 10px;
    background-color: #40E0D0;
    
    
}
.brand-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff; /* Fundal alb pentru bara */
    padding: 15px 0;
    width: 170px;
    left: 0;
     top: 70px;
     height: 1680px;
    position: absolute;
    

}
.brand-bar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff; /* Fundal alb pentru bara */
    padding: 15px 0;
    width: 170px;
    right   : 0;
     top: 70px;
     height: 1680px;
    position: absolute;

}
footer {
    display: flex;
    background-color: #d5bdbd;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%; 
    height: 330px;
    left: 0;
    right: 0;
    margin-top: 200px;
    font-size: large;
   
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    gap: 200px;
    text-align: justify;
    text-decoration: none;
  }
footer img{
    width: 350px;
    height: auto;
    border-radius: 110px;
    margin-top: 50px;
    margin-left: -200px;
}
.footer-contact {
    font-size: x-large;
    margin-top: 40px;
}
.footer-contact h3{
    font-size: xx-large;
}
.footer-nav{
    font-size: larger;
    margin-top: 40px;
}
.footer-nav ul li a {
    text-decoration: none;
    color: white;

}
body{
    background-color: #40E0D0;
}